*{
  margin: 0;
  padding: 0;
  list-style: none;
  box-sizing: border-box;
  font-family: "Russo One", sans-serif;
  text-decoration: none;
  outline: none;
}
body {
  background: radial-gradient(circle, #fdcdd6 1px, transparent 1px);
  background-size: 20px 20px;
  animation: moveBubbles 600s linear infinite;
  z-index: -5;
  overflow-x: hidden;
}

@keyframes moveBubbles {
  from { background-position: 0 0; }
  to { background-position: 10000px 10000px; }
}